<div class="card">
  <h5>Lançamentos Recentes</h5>
  <p-table [value]="dataTable" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th colspan="2"pSortableColumn="description" class="text-center">Descrição<p-sortIcon field="description"></p-sortIcon></th>
              <th pSortableColumn="value">Valor<p-sortIcon field="value"></p-sortIcon></th>
              <th pSortableColumn="mouth">Mês<p-sortIcon field="mouth"></p-sortIcon></th>
              <th pSortableColumn="year">Ano<p-sortIcon field="year"></p-sortIcon></th>
              <th pSortableColumn="type">Tipo<p-sortIcon field="type"></p-sortIcon></th>
              <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
              <th>Ver</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dataTable>
          <tr>
              <td style="width: 15%; min-width: 4rem;">
                    <div class="flex align-items-center justify-content-center border-round" [ngClass]="dataTable.type === 'DESPESA' ? 'buy' : 'gain'"
                        [ngStyle]="{ width: '3.5rem', height: '2.5rem' }">
                        <i [ngClass]="['pi text-xl text-white', dataTable.type === 'DESPESA' ? 'pi-shopping-cart' : 'pi-dollar']"></i>
                    </div>
              </td>
              <td style="width: 15%; min-width: 7rem;">{{dataTable.description}}</td>
              <td style="width: 15%; min-width: 8rem;">{{dataTable.value | currency:'BRL'}}</td>
              <td style="width: 15%; min-width: 8rem;">{{dataTable.mouth}}</td>
              <td style="width: 15%; min-width: 8rem;">{{dataTable.year}}</td>
              <td style="width: 15%; min-width: 8rem;">{{dataTable.type}}</td>
              <td style="width: 15%; min-width: 8rem;">{{dataTable.status}}</td>
              <td style="width: 10%;">
                  <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
