.buy {
    background: linear-gradient(60deg,#ef5350,#e53935);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}

.gain {
    background: linear-gradient(60deg,#6354ec,#3835e5);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}