<div class="grid p-fluid">
    <p-toast key="tst"></p-toast>
    <div class="card col-12">
        <h2>Cadastrar Lançamentos</h2>
        <form (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" [formGroup]="releaseForm">
            <div class="col-12 md:col-6 field">
                <label for="year">Ano</label>
                <p-inputNumber id="year" formControlName="year" placeholder="Ex: 2022" [min]="1920" autofocus></p-inputNumber>
            </div>
            <div class="col-12 md:col-6 field">
                <label htmlFor="mouth">Mês</label>
                <p-dropdown id="mouth" [options]="mouths" formControlName="mouth" placeholder="Selecione"
                            [showClear]="true" value="mouths.value"></p-dropdown>
            </div>
            <div class="col-12 md:col-6 field">
                <label htmlFor="description">Descrição</label>
                <input pInputText id="description" type="text" formControlName="description" placeholder="Ex: Lanche, Salário ..."/>
            </div>
            <div class="col-12 md:col-6 field">
                <label htmlFor="releaseType">Tipo de lançamento</label>
                <p-dropdown id="releaseType" [options]="releasesType" formControlName="type"
                            placeholder="Selecione" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-12 md:col-6 field">
                <label htmlFor="value">Valor</label>
                <p-inputNumber id="value" formControlName="value" mode="currency" currency="BRL" locale="pt-BR" ></p-inputNumber>
            </div>
            <div class="col-12 md:col-6 flex">
                <button pButton pRipple label="Salvar" icon="pi pi-save" class="mr-2 " [loading]="isLoading" type="submit"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" routerLink="/home"></button>
            </div>
        </form>
    </div>
</div>