<div class="grid p-fluid">
  <div class="card col-12">
    <div class="col-12 md:col-6">
      <label for="username">Nome completo</label>
			<input pInputText id="username" type="text" style="margin: 0.5rem"/>
    </div>
    <div class="col-12 md:col-6">
      <label for="email">E-mail</label>
			<input pInputText id="email" type="text" placeholder="Ex: teste@teste.com" pInputText style="margin: 0.5rem"/>
    </div>
    <div class="col-12 md:col-6">
      <label for="password">Senha</label>
			<input pInputText id="password" type="password" style="margin: 0.5rem"/>
    </div>
    <div class="col-12 md:col-6">
      <label for="passwordR">Repita a senha</label>
			<input pInputText id="passwordR" type="password" style="margin: 0.5rem"/>
    </div>
    <div class="col-12 md:col-2 flex">
      <button pButton pRipple label="Enviar" class="mr-2 mb-2"><i class="pi pi-save"></i></button>
      <button pButton pRipple label="Cancelar" routerLink="/home" class="p-button-danger mr-2 mb-2"><i class="pi pi-times"></i></button>
    </div>
  </div>
</div>
