<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6"
             style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4"
                style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <p-toast key="tst"></p-toast>
                <div class="text-center mb-5">
                    <img src="assets/layout/images/expenses.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">
                        <span *ngIf="form.rememberMe">Bem-vindo de volta, {{userDTO.name | titlecase}}!</span>
                        <span *ngIf="!form.rememberMe">Bem-vindo ao melhor site de finanças do mundo!</span>
                    </div>
                    <span class="text-600 font-medium">Entre para continuar</span>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <div (keydown.enter)="login()">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email1" [(ngModel)]="form.email" type="text" placeholder="Endereço de email" pInputText class="w-full mb-3"
                               style="padding:1rem;">

                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Senha</label>
                        <p-password id="password1" [(ngModel)]="form.password" placeholder="Senha" [toggleMask]="true"
                            styleClass="w-full mb-3" promptLabel="Insira uma senha" weakLabel="Fraca" mediumLabel="Regular" strongLabel="Forte">
                        </p-password>

                        <div class="flex align-items-center justify-content-between mb-5">
                            <div class="flex align-items-center">
                                <!-- <p-checkbox id="rememberme" [binary]="true" [(ngModel)]="form.rememberMe" styleClass="mr-2"></p-checkbox>
                                <label for="rememberme">Lembre-me</label> -->
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                               style="color: var(--primary-color)">Esqueceu sua senha?</a>
                        </div>
                        <button pButton pRipple label="Entrar" [loading]="isLoading" (click)="login()" class="w-full p-3 text-xl"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>