<div class="grid p-fluid">
    <div class="card col-12">
        <h2>Consultar Lançamentos</h2>
        <div class="col-12 md:col-6 field">
            <label htmlFor="year">Ano</label>
            <input pInputText id="year" type="number" min="1900" />
        </div>
        <div class="col-12 md:col-6 field">
            <label htmlFor="mouth">Mês</label>
            <p-dropdown id="mouth" [options]="months" [(ngModel)]="mouthSelected" placeholder="Selecione"
                        [showClear]="true"></p-dropdown>
        </div>
        <div class="col-12 md:col-6 field">
            <label htmlFor="description">Descrição</label>
            <input pInputText id="description" type="text" placeholder="Ex: Lanche, Salário ..."/>
        </div>
        <div class="col-12 md:col-6 field">
            <label htmlFor="releaseType">Tipo de lançamento</label>
            <p-dropdown id="releaseType" [options]="releaseType" [(ngModel)]="releaseTypeSelected"
                        placeholder="Selecione" [showClear]="true"></p-dropdown>
        </div>
        <div class="col-12 md:col-6 flex">
            <button pButton pRipple label="Buscar" class="mr-2 mb-2"><i class="pi pi-search"></i></button>
            <button pButton pRipple label="Cadastrar" class="p-button-warning mr-2 mb-2" routerLink="/create-releases"><i
                   class="pi pi-plus"></i></button>
        </div>
    </div>
    <div class="col-12 md:col-12">
        <app-releases></app-releases>
    </div>
</div>