<div class="grid p-fluid">
    <div class="card col-12">
        <h2>Consultar Lançamentos</h2>
        <div class="col-12 md:col-6 field">
            <label htmlFor="year">Ano</label>
            <input pInputText id="year" type="number" min="1900" />
        </div>
        <div class="col-12 md:col-6 field">
            <label htmlFor="mouth">Mês</label>
            <p-dropdown id="mouth" [options]="months" [(ngModel)]="mouthSelected" placeholder="Selecione"
                        [showClear]="true"></p-dropdown>
        </div>
        <div class="col-12 md:col-6 field">
            <label htmlFor="description">Descrição</label>
            <input pInputText id="description" type="text" placeholder="Ex: Lanche, Salário ..."/>
        </div>
        <div class="col-12 md:col-6 field">
            <label htmlFor="releaseType">Tipo de lançamento</label>
            <p-dropdown id="releaseType" [options]="releaseType" [(ngModel)]="releaseTypeSelected"
                        placeholder="Selecione" [showClear]="true"></p-dropdown>
        </div>
        <div class="col-12 md:col-6 flex">
            <button pButton pRipple label="Buscar" class="mr-2 mb-2"><i class="pi pi-search"></i></button>
            <button pButton pRipple label="Cadastrar" class="p-button-warning mr-2 mb-2" routerLink="/create-releases"><i
                   class="pi pi-plus"></i></button>
        </div>
    </div>
    <div class="col-12 md:col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2 flex">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedReleases()" [disabled]="!selectedReleases || !selectedReleases.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt 
                    [lazy]="true" (onLazyLoad)="loadReleases($event)" [totalRecords]="totalRecords" [value]="releases" [columns]="cols" [globalFilterFields]="['description']" [rows]="rows" [paginator]="true" [rowsPerPageOptions]="[5,10,30,50]" [showCurrentPageReport]="true" [(selection)]="selectedReleases" [rowHover]="true" selectionMode="multiple" responsiveLayout="scroll" dataKey="id"
                    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Editar lançamentos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Procurar..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="description">Descrição <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="mouth">Mês <p-sortIcon field="mouth"></p-sortIcon></th>
                        <th>Transação</th>
                        <th pSortableColumn="year">Ano <p-sortIcon field="year"></p-sortIcon></th>
                        <th pSortableColumn="value">Valor <p-sortIcon field="value"></p-sortIcon></th>
                        <th pSortableColumn="type">Tipo <p-sortIcon field="type"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-release>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="release"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Descrição</span>
                            {{release.description}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Mês</span>
                            {{release.mouth}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Transação</span>
                            <div class="flex align-items-center justify-content-center border-round" [ngClass]="release.type === 'DESPESA' ? 'buy' : 'gain'"
                                [ngStyle]="{ width: '3.5rem', height: '2.5rem' }">
                                <i [ngClass]="['pi text-xl text-white', release.type === 'DESPESA' ? 'pi-shopping-cart' : 'pi-dollar']"></i>
                            </div>
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Ano</span>
                            {{release.year}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Valor</span>
                            {{release.value | currency:'BRL'}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Tipo</span>
                            {{release.type}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [ngClass]="['releases-badge', release.status === 'EFETIVADO' ? 'status-effective' : 'status-pending']">{{release.status}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple pTooltip="Efetivar"  icon="pi pi-check" class="p-button-rounded p-button-info mr-2" (click)="effectiveRelease(release)"></button>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRelease(release)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteRelease(release)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="releaseDialog" [style]="{width: '450px'}" header="Detalhes" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{ width: '3.5rem', height: '2.5rem' }">
                    <i [ngClass]="['pi text-xl', release.type === 'DESPESA' ? 'text-blue-500 pi-shopping-cart' : 'text-yellow-500 pi-dollar']"></i>
                </div>
                <div class="field">
                    <label for="name">Descrição</label>
                    <input type="text" pInputText id="name" [(ngModel)]="release.description" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !release.description}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !release.description">Descrição obrigatória.</small>
                </div>
                

                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveRelease()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteReleaseDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="release">Você tem certeza que quer excluir o lançamento <b>{{release.description}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteReleaseDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteReleasesDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você tem certeza que quer excluir os lançamentos selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteReleasesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="effectiveDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="release">Você tem certeza que deseja <b>efetivar</b> o lançamento <b>{{release.description.trim()}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="effectiveDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmEffectiveRelease()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>