.buy {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}

.gain {
    background: linear-gradient(60deg, #6354ec, #3835e5);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
}

.releases-badge {
    border-radius: var(--border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;

    &.status-pending {
        background: #c8e6c9;
        color: #256029;
    }

    &.status-effective {
        background: #eccfff;
        color: #694382;
    }

    &.status-canceled {
        background: #e7c5c4;
        color: #9c7c5c;
    }
}

.field small {
    color: #e24c4c;
}

:host ::ng-deep .p-message {
    margin-left: 0.25em;
}

:host ::ng-deep .p-toast {
    margin-top: 5.7em;
    z-index: 99999;
}
